.header-flex-left {
    display: flex;
    justify-content:flex-start;
    color: white;
    margin: 10px;
}

.header-flex-right {
    display: flex;
    justify-content: flex-end;
    color: white;
    margin-right: 40px;
    margin-top: -25px;
}

.a-propos {
    color: white;
    text-decoration: none;
    padding-right: 20px;
    cursor: pointer;
}

.google-store {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.gmail {
    color: white;
    text-decoration: none;
    padding-right: 20px;
    cursor: pointer;
}

.images {
    color: white;
    text-decoration: none;
    padding-right: 20px;
    cursor: pointer;
}
.images:hover, .gmail:hover, .google-store:hover, .a-propos:hover  {
    text-decoration: underline;
}

.logo {
    margin-top: -1.5px;
    cursor: pointer;
}

body {
    background-color: #28292a;
}

.google {
    display: flex;
    color: white;
    font-size: 50px;
    justify-content: center;
    margin-top: 2.8em;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    resize: none;
}
textarea {
    resize: none;
}

#textarea {
    background-color: gray;
    border-radius: 20px;
}

.under-search {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.button-search {
    color: white;
    background-color: rgba(70, 70, 70, 0.685);
    width: 12em;
    height: 2.5rem;
    border-width: 0;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.button-luck {
    color: white;
    background-color: rgba(70, 70, 70, 0.685);
    width: 12em;
    height: 2.5rem;
    border-width: 0;
    border-radius: 5px;
    cursor: pointer;
}

.bottom-flex {
    color: white;
    font-size: 8px;
    background-color: #171717;
    padding-left: 30px;
}